a{
    text-decoration: none;
    position: absolute;
    margin-top: 35px;
    margin-left: 76px;
    font-size: 50pt;
    color: black;
}
#btn{
    display: inline-block;
    height: 150px;
    width: 300px;
    position: absolute;
    padding:0;
    background-color: white;
    margin-top: 224px;
    margin-left: 1054px;
}

body{
	background-color: black;
}
.object {
	margin-left: 807px;
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}
#logo{
	position: absolute;
	margin:0;
    margin-left: 800px;
}
#axis:hover .move-right{
    transform: translate(230px,0);
    -webkit-transform: translate(230px,0); /** Chrome & Safari **/
    -o-transform: translate(270px,0); /** Opera **/
    -moz-transform: translate(270px,0); /** Firefox **/
}